/* Add CSS Styling */
.clicky,
.no-clicky {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', 'sans-serif';
}

.clicky{
    background-color: #000;
    color: #fff;
}

.no-clicky{
    background-color: rgb(255, 255, 0);
}